/*#s-search{
	background-image: url(../img/tea-still-life-pistachios-pasta-1014500-wallhere.com.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  	
  	width: 100%;
  	height:13em;
}*/
.parallax-container {
      height: "your height here";
      opacity: 0.7;
    }
#search{
	position: relative;
  	border: 0.2em solid #fff;
  	z-index: 3;
 	top: -18em;
    left: 18em;
}   
#title-search{
	position: relative;
    z-index: 3;
    top: -23em;
    left: 18em;
    font-size: larger;
    color: black;
} 
#btn-search{
	position: relative;
  	 z-index: 3;
    top: -17.5em;
    left: 19em;
}
