.margin-not{
	margin:0;
}



.parallax-container {
	height: "100%";
	opacity: 0.7;
}

.up-one {
	position: relative;
	z-index: 3;
	top: -18em;
	margin: 0;
	padding: 0;
}

#search {
	color: black;
}

#title-search {
	position: relative;
	z-index: 3;
	top: 1em;
	font-size: larger;
	color: black;
}
